.container {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.header-main {
    padding-left: 100px;
    padding-top: 50px;
}

.header-title {
    width: 530px;
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.header-description {
    width: 550px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
}

.ful {
    padding-top: 50px;
    width: 460px;
    height: 620px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    color: white;
    margin-bottom: 150px;
}

.new-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.new-descri {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.content-new {
    text-align: center;
}

.card-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 364px;
    height: 441px;
    text-align: center;
}

.pic-add {
    width: 310px;
    height: 442px;
    margin-left: 40px;
    display: inline-block;

}

a {
    text-align: center;
    margin-top: 25px;
}

.moral-card {
    display: flex;
    gap: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.botman {
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 50px;
}

.toy {
    height: 60%;
    width: 40%;
}

.hot-dil {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 25px;
}

.hot-pic {
    width: 318px;
    height: 420px;
    margin-left: 166px;
    margin-top: 90px;
}

.hot-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}

.hot-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400;/
}

span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.text-dil {
    margin-left: 100px;

}
#more{
margin-left: 60px;
}

.insta {
    text-align: center;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    width: 580px;
    display: inline-block;
}

.card-three {
    display: flex;
    /* justify-content: space-between; */
    margin-right: 140px;
    align-items: center;
    right: 50px;
    left: 50px;
    margin-left: 140px;

}

.picture {
    gap: 15px;
    height: 243px;
    width: 240px;
    padding-left: 20px;
}

.final {
    position: relative;
    margin-top: 25px;
    margin-left: 140px;
    padding-right: 140px;


}

.final img {
    width: 100%;
    height: auto;

}

.contain-title {
    position: absolute;
    top: 30px;

    text-align: center;
    padding-left: 100px;
}

.final-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.final-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400;
}

input {
    width: 580px;
    height: 55px;
    border: 0;
    padding-left: 10px;
}

.footer-contain {
    background-color: black;
    text-align: center;
    height: 420px;
    margin-top: 50px;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 6px;
    margin-top: 40px;
}

.footer-description {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 5px;
}

.all-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center font-weight: 400;
}
.footer-contain{
    padding-top: 100px;
}